{% if product.metafields.custom.gallery_videos.value != blank %}
  
  <div class="index-product-video-sec">
    <div class="row index-prd-video-slide">
         {% for gallery_video in product.metafields.custom.gallery_videos.value %}
           {% assign vids="" %}
           {% for s in gallery_video.sources %}
             {% assign t= s.url | append :" - " %}
             {{ s.media_type }}
             {% assign vid_old= t | append : vids %}
             {% assign vids= vid_old %}
             {% endfor %}
           
       <div class="video-prd-divv"">
         <a  href="javascript:void(0);" class="index-product-video-img" data-urls="{{ vids }}">
           
           {%
                        render 'rimg',
                        class : 'img-fluid m-auto lazyload',
                        img: gallery_video.preview_image,
                        size: '200x200',
                        lazy : false
                      %}
           <div class="index-product-video-overlayer"></div>
           <div class="index-product-video-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
         </a>
       </div>
     {% endfor  %}
    </div>

</div>
{% endif %}


