
<section class="i--banner">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
      {% if block.type == 'banner-slide' %}
       <div class="col-xl-12 i--banner-main">
         <a href="https://www.eyely.com/collections/rugs">
          <div class="banner_img">
                                 {%
                                        render 'rimg',
                                        class: 'img-fluid desk_img',
                                        img: block.settings.slide_img ,
                                        size: '1800x700'                                   
                                    %}
            {% if block.settings.mob_slider_img != blank %}
              {%
                                        render 'rimg',
                                        class: 'img-fluid mob_banner',
                                        img: block.settings.mob_slider_img ,
                                        size: '600x600'                                   
                                    %}
           
            {% else %}
                {%
                                        render 'rimg',
                                        class: 'img-fluid mob_banner',
                                        img: block.settings.slider_img ,
                                        size: '600x600'                                   
                                    %}
            {% endif %}
          </div>
           </a>
       </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{{ 'section-index-banner.css' | asset_url | stylesheet_tag }}

{% schema %}
{
"name": "Index-Banner",
"tag": "section",
"class": "spaced-section spaced-section--full-width",
"settings": [],
  "blocks":[
		{
			"type": "banner-slide",
			"name": "Banner Slide",
			"settings": [
				{	
					"type": "image_picker",
					"id": "slide_img",
					"label": "Image"
				},
				{
                    "type": "image_picker",
                    "id": "mob_slider_img",
                    "label": "Mobile Banner Image"
                }
			]
		}	
	],
"presets": [
{
"name": "Index Banner"
}
]
}
{% endschema %}