.rug-by-size{
    margin-top:20px;
  }
  .rug-by-size .container{
    max-width: 1630px;
  }
  .rug-by-size .rug-by-size_heading{
    text-align:center;
    padding-bottom: 10px;
  }
  .rug-by-size .shop__p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
  }
  .rug-by-size .rug-by-size_inner .rug-by-size_main{
    text-align:center;

  }
  .rug-by-size .rug-by-size_inner .rug-by-size_main .rug-by-size-arrow{
    padding:10px;
  }
  .rug-by-size .rug-by-size_inner .rug-by-size_main a{
    text-decoration: none;
    color:#222;
  }
  @media (max-width:767px){
    .rug-by-size .rug-by-size_inner .rug-by-size_main .rug-by-size__icon{
      width: 40%;  
      overflow: hidden;
    }
    .rug-by-size .rug-by-size_inner .rug-by-size_main .rug-by-size__text{
    padding: 0 0 0 15px;
    width: 50%;
    text-align: left;
    }
    .rug-by-size .rug-by-size_inner .rug-by-size_main .rug-by-size-arrow {
    width: 10%;
  }
  }