.shop-product{
    padding: 40px 15px;

}  
.shop-product .container{
    max-width: 1630px;
}
.shop-product .shop-product-title{
    margin-bottom: 40px;
    padding: 0px 10px;
}
.shop-product .shop-product-title  h3{color:#2d3654;
      font-size: 28px;
    }

.shop-product .shop-product-title  p{
      font-size: 16px;
      margin-bottom: 0;
}


.shop-product .shop-product-maindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.shop-product .shop-product-maindiv .shop-product-mainbox{
    width: calc(100% / 5 - 0px);
    padding: 0 10px;
}
.shop-product .shop-product-maindiv .shop-product-mainbox .shop-product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;     
    border-radius: 5px;
    width: 100%;
  }


  .shop-product  .shop-product-maindiv .shop-product-mainbox .shop-product-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
  }

  .shop-product .shop-product-maindiv .shop-product-mainbox .title-div a{
        color:#2d3654; 
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
        font-family: 'Bookmania Bold';
        font-size: 16px;
}

@media (max-width: 767px) {
    .shop-product .shop-product-maindiv .shop-product-mainbox{  
         width: calc(100% / 3 - 0px);
    margin-bottom: 20px;
  }
  }

@media (max-width: 480px) {
    .shop-product{  
        padding-left: 0;
        padding-right: 0;
    }
    .shop-product .shop-product-maindiv .shop-product-mainbox{
    width: calc(100% / 2 - 0px);
    margin-bottom: 20px;
    }
    .shop-product .shop-product-maindiv .shop-product-mainbox:nth-child(5) {
        display: none;
    }
    
  }