.index-icons{
    max-width: 1630px;
    padding-top: 36px;
    padding-bottom: 36px;
}
.index-icons .main_icon_wrap{
display:flex;
justify-content: space-between;
}
.item-icon{
    width:25%;
    padding:10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-icon > div{
    margin-right: 20px;
}
.item-icon img{  
   
    margin: auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: .7s;
}
.item-icon h3{
  
    padding-right: 20px; 
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}
@media (min-width:992px) and (max-width:1199px){
  .item-icon h3{
  	width:60%;
      font-size: 18px;
  }
  .item-icon .responsive-image__wrapper {
  	width:40%;
  
  }
}

@media (max-width: 1023px){
    .index-icons .item-icon{
        display: block;
        margin: auto;
        text-align: center;
    }
    .index-icons  .item-icon > div{
        margin-right: 0px;
        margin: auto;
    }
    .item-icon h3{   
         padding: 5px;
          font-size: 15px;
       
    }
  
}

@media (max-width:800px){
    .index-icons .item-icon{
        padding: 0px 20px;
    }
    .index-icons  .item-icon > div{
        display: flex;
        align-items: flex-end;
        min-height: 50px;
    }
}
@media (max-width:480px){
    .index-icons{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .index-icons .item-icon{
        padding: 0px 10px;
    }
    .item-icon h3{ 
        font-size: calc(1.3rem);

    }
    .index-icons .item-icon > div {
    max-width: 100%;
    }
    .index-icons .item-icon > div img {
    max-width: 40px !important;
    }

}
@media (max-width:400px){
    .item-icon h3{ 
        font-size: 10px!important;
        line-height: 1.4;
    }
    .index-icons .item-icon{
        padding: 0px 5px;
    }
}