.index-new-arrival {
    margin-top: 20px;
    max-width:1630px;
    margin-left: auto;
    margin-right: auto;
}

.index-new-arrival .new_arrival-image{
    position:relative;
    overflow:hidden;
  }
 
  
  .index-new-arrival   .new_arrival-image .mob-new-arrival{
	display:none;
}
@media (max-width:767px){
    .index-new-arrival  .new_arrival-image .ds-new-arrival{
        display:none;
    }
    .index-new-arrival .new_arrival-image .mob-new-arrival{
        display:block;
    }
  }
  .index-new-arrival .new_arrival-image img{
    object-position:center;
    object-fit:cover;
    width:100%;
    height:100%;
  }