.rug-by-size{
    margin-top:20px;
  }
  .rug-by-size .rug-by-size_heading{
    text-align:center;
    padding-bottom: 10px;
  }
  .rug-by-size .shop__p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
  }
  .rug-by-size_inner .rug-by-size_main{
    text-align:center;

  }
  .rug-by-size_inner .rug-by-size_main a{
    text-decoration: none;
  }