footer{
    padding-top: 3.25rem;
  background-color: #ebecf0;
  color: #000;
}
footer .container{
  max-width: 1630px;
}
footer .heading-wrap h4{
  color: #000;   
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 18px;
    font-family: 'Guardian Egyptian';
}
footer .link-wrapper .footer-block__details-content li a{
  text-decoration: none;
  color:#000;
  font-weight:500;
  line-height: 1.5;
}
footer .accordion-item{
  background-color: transparent;
  border: 1px solid transparent;
}

footer .accordion-item h2 .accordion-button{
  background-color: transparent;
  color: #000;
  font-size: 18px;
    font-family: 'Guardian Egyptian';
  padding: 1.5rem 11px 1.5rem 0; 
}
footer .accordion-item  .accordion-button:focus{
  border-color: #fff;
  box-shadow: none;
}
footer .accordion-item  .accordion-button:not(.collapsed){
  padding: 1.5rem 11px 1.5rem 0;
  box-shadow: none;
}
footer .accordion-item  .accordion-button:after{

  border-left:2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(315deg);
  background-image: none;
}
footer .accordion-item  .accordion-button[aria-expanded="true"]::after{
  transform: rotate(130deg);
}

footer .accordion-item .accordion-body ul li a{
  color:#000;
}
footer .accordion-item .accordion-body{
  padding:1rem 0;
}
footer .list-social__item svg{
  color:#2d3654;
  height: 2.5rem !important;
  width: 2.5rem !important;
}
footer .accordion-item .accordion-body .footer-block__details-content li .list-menu__item--link{
  padding-top:3px;
  padding-bottom:3px;
  font-weight: 400;
  font-size:16px;
}
@media (min-width:992px){
  footer .list-social__item .list-social__link:first-child{
    padding-left:0px;
  }
}
footer .list-social{
  justify-content: flex-start;
}
footer .footer-bottom a{
  color:#000;
  text-decoration: none;
}
footer .footer-bottom  .opacity-75{
  opacity: 0.75;
/*   display:block; */
  font-size:13px;
}
span.copyright__content{
	font-size:13px;
}
@media (max-width:990px){
.footer__copyright {
    text-align: center;
    margin-top: 30px;
  padding: 20px;

}
}
@media (max-width:767px){
  footer .footer-bottom .opacity-75 {
display:block;
  }
}