.best-seller{
    margin-top:20px;
  }
  .best-seller .container{
    max-width: 1630px;
  }
  .best-seller .best-seller_heading{
    text-align:center;
    padding-bottom: 10px;
  }
  .best-seller .shop__p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font-body-family-other);
  }
  .best-seller .item-wrap .image_wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 100%;
  }

  .best-seller .item-wrap .image_wrap img{
    position: absolute;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%,-50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto !important;   
  }
  .shop_all_btn{
    margin: 0 auto;
    text-align: center;
  }
  .best-seller .item-wrap .content_wrap .item_content {
    text-transform: capitalize;
}
.best-seller .item-wrap .content_wrap .item_content  p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 16px;
    font-size: 14px;
    color:#4c6589 !important;
}
.best-seller .item-wrap .content_wrap .reviews-div {
  margin-bottom: 0!important;
}
.best-seller .item-wrap a{
color:#444;
text-decoration: none;
}
.best-seller .item-wrap .discount span {
  font-size: 14px;
  color: #c66;
  font-weight: 500;
}
  .shop_all_btn a{
    text-decoration: none;
    border: 1px solid #2d3654;
    color: #2d3654;
    padding: 15px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;

  }
  @media (min-width:768px){
    .best-seller .item-wrap  .fst_img-4{
      border-radius:0;
      overflow: hidden;
    }
  .best-seller .item-wrap  .fst_img-1{
    border-radius: 0;
    overflow: hidden;
    }
  }
  @media (max-width:768px){
    .best-seller .item-wrap  .fst_img-2{
      border-radius: 0
      overflow: hidden;
    }
  .best-seller .item-wrap  .fst_img-3{
    border-radius:0;
    overflow: hidden;
    }
  }